version: '2'
services:
    app-server:
        build:
            context: ./docker/
            dockerfile: Dockerfile-nodejs
        ports:
            - 4003:3000
        volumes:
            - "./app-server:/home/node/projet"
    secret-server:
        build:
            context: ./docker/
            dockerfile: Dockerfile-nodejs
        ports:
            - 4001:3000
        volumes:
            - "./secret-server:/home/node/projet"
    client:
        image: nginx:latest
        container_name: client
        ports:
            - 80:80
        volumes:
            - "./docker/default.conf:/etc/nginx/conf.d/default.conf"
    time-server:
        build:
            context: ./docker/
            dockerfile: Dockerfile-nodejs
        ports:
            - 4000:4000
        volumes:
            - "./time-server:/home/node/projet"
    client:
        image: nginx:latest
        container_name: client
        ports:
            - 80:80
        volumes:
            - "./docker/default.conf:/etc/nginx/conf.d/default.conf"
